<template name="singleChallenge">
    <div class="container">
        <div class="jumbotron">
        {{#linkTo route="home"}}GoHome{{/linkTo}}
            <h2>{{name}}</h2>
            <p>{{>loginButtons}}</p>
            {{#if currentUser}}
                <p>
                {{#if startedAt}}
                    <button class="btn btn-default" id="startChallenge" type="submit" disabled="disabled">Start challenge!</button>
                {{else}}
                    <button class="btn btn-default" id="startChallenge" type="submit">Start challenge!</button>
                {{/if}}
                </p>
            {{/if}}
        </div>
        <div class="jumbotron">
            <h3>Details</h3>
            <p>
            Started at: 
                {{#if startedAt }}
                    {{formatDate startedAt "long"}}
                {{else}}
                    not yet started
                {{/if}}
            </p>
            <p>Created at : {{formatDate createdAt "long"}}</p>
            <p>Created by: {{creatorEmail}}</p>
            {{#if currentUser}}
                <p>Private: <input type="checkbox" id="isPrivate" checked="{{isPrivate}}" /></p>
            {{/if}}
        </div>
        {{#if startedAt}}
        <div class="jumbotron">
            <h3>Add activity</h3>
            {{#each routines}}
                <button type="button" class="btn btn-default addRoutine" data-toggle="modal" data-target="#activityModal">{{formatDate date "short"}}</button>
            {{/each}}
        </div>
        {{/if}}
    	{{#if currentUser}}
            {{#unless startedAt}}
    		  {{>listSteps steps=steps challenge=_id }}            
            {{/unless}}
    	{{else}}
    		You have to log in in order to see the steps
    	{{/if}}
    </div>
        
    <div class="modal fade" id="activityModal">
          <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Activity for {{formatDate currentDate "short"}}</h4>
                    </div>
                    <div class="modal-body">
                        {{currentActivity}}
                        {{#each steps}}
                            <br/>
                            <input type="checkbox" />{{body}}
                        {{/each}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary saveActivity">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
    </div>
</template>