<template name="singleChallenge">
    <div class="container">
        <div class="jumbotron">
        {{#linkTo route="home"}}GoHome{{/linkTo}}
            <h2>{{name}}</h2>
            <p>{{>loginButtons}}</p>
            {{#if currentUser}}
                <p>
                {{#if startedAt}}
                    <button class="btn btn-default" id="startChallenge" type="submit" disabled="disabled">Start challenge!</button>
                {{else}}
                    <button class="btn btn-default" id="startChallenge" type="submit">Start challenge!</button>
                {{/if}}
                </p>
            {{/if}}
        </div>
        {{#if startedAt}}
        <div class="jumbotron">
            {{#each routines}}
                    <p>{{formatDate date "short"}} --- {{activity}}</p>
                {{/each}}
        </div>
        {{/if}}
        <div class="jumbotron">
            <p>
            Started at: 
            {{#if startedAt }}
                {{formatDate startedAt "long"}}
            {{else}}
                not yet started
            {{/if}}
            </p>
            <p>Created at : {{formatDate createdAt "long"}}</p>
            <p>Created by: {{creatorEmail}}</p>
            {{#if currentUser}}
                <p>Private: <input type="checkbox" id="isPrivate" checked="{{isPrivate}}" /></p>
            {{/if}}
        </div>
    	{{#if currentUser}}
    		{{>listSteps steps=steps challenge=_id }}            
    	{{else}}
    		You have to log in in order to see the steps
    	{{/if}}
    </div>
</template>